body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.App{
  justify-content: center;
  display: flex;
  align-items: center;
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.img-preview {
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.button-style, .default-button, .input-button::before{
  padding: 3% 5%;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  margin: 1% 0;
}

.button-style{
  color: #eee;
  background-color: #45ADFF;
  border: 1px solid #45Adff;
}

.button-style:hover{
  background-color: #008fff;
}

.default-button{
  background-color: #eee;
  color: #434242;
  border: none;
  padding: 1.5% 5%;
  font-size: 0.8rem;
}

.default-button:hover{
  background-color: #B2B2B2;
  color: #111;
}

.input-button{
  color: transparent;
}

.input-button::-webkit-file-upload-button{
  visibility: hidden;
}

.input-button::before{
  content: 'Upload for device';
  color: #eee;
  display: inline-block;
  background-color: #45ADFF;
  white-space: nowrap;
  -webkit-user-select: none;
  outline: none;
  width: 90%;
  text-align: center;
}

.view-div{
  display: flex;
  justify-content: space-between;
  margin: 0 0 10%;
  align-items: center;
  
}

@media screen and (max-width: 700px){
  .view-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box{
    min-height: 500px;
  }
}

/* 
img-preview
style={{ width: "100%", float: "left", height: "300px" }}

box
style={{ width: "50%", float: "right" }}

style={{ width: "50%", float: "right", height: "300px" }}

*/